<aside id="h-screen">

    <nav id="id-sidebar" class="h-full px-4 py-2 flex flex-col overflow-hidden bg-white dark:bg-gray-800 shadow-sm border-r">

        <div class="pb-2 mb-2 flex items-center gap-4 border-b">
            <i id="id-sidebar-toggler" class="bx bx-menu text-3xl cursor-pointer"></i>
            <span class="text-xl font-bold">Dashboard</span>
        </div>

        <div class="mt-2 px-1 flex flex-col flex-grow ">
            
            <ul class="flex flex-col gap-2">
                <li class="flex items-center gap-5">
                    <i class="bx bx-user text-2xl cursor-pointer"></i>
                    <a href="" class="">Students</a>
                </li>

                <li class="flex items-center gap-5">
                    <i class="bx bx-user text-2xl cursor-pointer"></i>
                    <a href="" class="">Staffs</a>
                </li>

                <li class="relative flex flex-col gap-2" data-collapse-toggle="id_submenu_databases" aria-controls="id_submenu_databases" aria-expanded="false">
                    <button class="flex items-center gap-5">
                        <i class="bx bx-user text-2xl cursor-pointer"></i>
                        <span>Databases</span>
                        <i class='bx bx-chevron-down text-xl ml-auto'></i>
                    </button>
                    <ul id="id_submenu_databases" class="hidden flex flex-col gap-2">
                        <li class="flex items-center gap-5">
                            <i class="bx bx-user text-2xl cursor-pointer"></i>
                            <a href="" class="">Users</a>
                        </li>
                    </ul>
                </li>
            </ul>
            
            <ul class="mt-auto">
                <li class="flex items-center gap-5">
                    <i class="bx bx-log-out text-2xl cursor-pointer"></i>
                    <a href="" class="">Logout</a>
                </li>
            </ul>
            
        </div>
        
    </nav>

</aside>

<script>

    // Check if sidebar is expanded
    let sidebarExpanded = localStorage.getItem('sidebarIsOpen');
    if (!sidebarExpanded) {
        localStorage.setItem('sidebarIsOpen', 'true');
    }

    // Set sidebar width
    if (sidebarExpanded === 'true') {
        document.getElementById('id-sidebar').classList.add('w-64');
    } else {
        document.getElementById('id-sidebar').classList.add('w-16');
    }

    // Function to toggle sidebar
    let sidebar = document.getElementById('id-sidebar');
    let sidebarTogglerBtn = document.getElementById('id-sidebar-toggler');
    
    sidebarTogglerBtn.addEventListener('click', function () {
        let sidebarIsOpen = localStorage.getItem('sidebarIsOpen');
        if (sidebarIsOpen === 'true') {
            sidebar.classList.remove('w-64');
            sidebar.classList.add('w-16');
            localStorage.setItem('sidebarIsOpen', 'false');
            
            let submenus = document.getElementsByClassName('sub-menu');
            for (let i = 0; i < submenus.length; i++) {
                if (!submenus[i].classList.contains('hidden')) {
                    submenus[i].classList.add('hidden');
                }
            }

        } else {
            sidebar.classList.remove('w-16');
            sidebar.classList.add('w-64');
            localStorage.setItem('sidebarIsOpen', 'true');
        }
    });

    // Function to toggle submenu
    const toggleSubmenu = (id) => {
        const sidebarIsOpen = localStorage.getItem('sidebarIsOpen');
        if (sidebarIsOpen === 'true') {
            let submenu = document.getElementById(id);
            submenu.classList.toggle('hidden');
        }
    };


    // JS for the dropdown toggles
    document.addEventListener('DOMContentLoaded', () => {
        const toggleButtons = document.querySelectorAll('[data-collapse-toggle]');

        toggleButtons.forEach(button => {
            button.addEventListener('click', (event) => {
                const targetId = button.getAttribute('data-collapse-toggle');
                const targetElement = document.getElementById(targetId);
                const isSidebarExpanded = localStorage.getItem('sidebarIsOpen');

                if (targetElement) {
                    // Toggle the visibility
                    const isElementExpanded = button.getAttribute('aria-expanded') === 'true';
                    button.setAttribute('aria-expanded', !isElementExpanded);
                    
                    
                    console.log(isSidebarExpanded)
                    targetElement.classList.toggle('hidden');
                    if (isSidebarExpanded == 'false') {
                        targetElement.classList.add('absolute', 'top-0', 'left-16', 'z-10');
                    } 
                }

                // Prevent click from propagating to the document listener
                event.stopPropagation();
            });
        });

        // Click outside to close all dropdowns
        document.addEventListener('click', () => {
            toggleButtons.forEach(button => {
                const targetId = button.getAttribute('data-collapse-toggle');
                const targetElement = document.getElementById(targetId);

                if (targetElement && !targetElement.classList.contains('hidden')) {
                    button.setAttribute('aria-expanded', 'false');
                    targetElement.classList.add('hidden');
                }
            });
        });
    });
    
</script>