{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Home
        </title>
        
        <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
        <link rel="stylesheet" href="{% static 'css/boxicons.min.css' %}">

        <style>
            @font-face {
                font-family: 'Poppins';
                src: url("{% static 'fonts/Poppins-Regular.ttf' %}") format('truetype');
                font-weight: normal;
            }

            @font-face {
                font-family: 'Poppins';
                src: url("{% static 'fonts/Poppins-Bold.ttf' %}") format('truetype');
                font-weight: bold;
            }
        </style>
    </head>

    <body class="flex w-screen h-screen">
        <aside id="id-sidebar" class="px-4 py-4 w-64 h-full flex flex-col bg-gray-50 dark:bg-gray-800">

            <div class="flex items-center px-1 py-2 gap-x-6 text-gray-900 rounded dark:text-white cursor-pointer">
                <i id="id-sidebar-toggler" class='bx bx-menu text-2xl'></i>
                <span>Dashboard</span>
            </div>

            <ul class="space-y-2">
                <li>
                    <a href="" class="flex items-center p-2 gap-x-6 text-gray-900 rounded dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <i class='bx bx-home'></i>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="" target="id-database-menu" class="menu flex items-center p-2 gap-x-6 text-gray-900 rounded dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <i class='bx bx-data'></i>
                        <span>Databases</span>
                        <i class='bx bx-chevron-right text-lg ml-auto'></i>
                    </a>
                    <ul id="id-database-menu" class="ml-4 space-y-1 hidden">
                        <a href="" class="flex items-center p-2 gap-x-6 text-gray-900 rounded dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                            <i class='bx bx-user'></i>
                            <span>Students</span>
                        </a>
                        <a href="" class="flex items-center p-2 gap-x-6 text-gray-900 rounded dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                            <i class='bx bx-book'></i>
                            <span>Books</span>
                        </a>
                    </ul>
                </li>
            </ul>

            <ul class="mt-auto space-y-2">
                <li>
                    <a href="" class="flex items-center p-2 gap-x-6 text-gray-900 rounded dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <i class='bx bx-log-out'></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </aside>

        <!-- Sidebar submenu when sidebar is collapsed -->
        <div id="id-submenu-box" class="absolute px-4 py-3 bg-gray-50 dark:bg-gray-800 hidden">
            <ul id="id-submenu-box-content" class="space-y-2">
              <!-- Dynamic content will be inserted here -->
            </ul>
        </div>

        <div class="flex flex-col flex-grow">
            <nav class="px-4 py-4 w-full flex bg-gray-50 dark:bg-gray-800">
                <button id="id-theme-button"><i class="bx bx-moon"></i></button>
            </nav>
        </div>
        
    </body>

    <script>
        // css related to sidebar
        let sidebar_open = true;
        let activeMenu = null;
        const sidebar = document.getElementById('id-sidebar');
        const menus = document.querySelectorAll('.menu');
        const sidebarToggler = document.getElementById('id-sidebar-toggler');
        const submenuBox = document.getElementById('id-submenu-box');
        const submenuBoxContent = document.getElementById('id-submenu-box-content');

        // Toggle sidebar
        sidebarToggler.addEventListener('click', () => {
            if (sidebar_open) {
                sidebar.classList.remove('w-64');
                sidebar.classList.add('w-16');
                sidebar_open = false;

                menus.forEach(menu => {
                    const submenuId = menu.getAttribute('target');
                    const submenuElement = document.getElementById(submenuId);
                    if (!submenuElement.classList.contains('hidden')) {
                        submenuElement.classList.add('hidden');
                    }
                });
                hideSubmenuBox(); // Hide submenu box when collapsing
            } else {
                sidebar.classList.remove('w-16');
                sidebar.classList.add('w-64');
                sidebar_open = true;
                hideSubmenuBox(); // Ensure submenu box is hidden when expanding
            }
        });

        // hide submenu box
        function hideSubmenuBox() {
            submenuBox.classList.add('hidden');
            activeMenu = null;
        }

        // hide all submenus
        function hideAllSubmenus() {
            menus.forEach(menu => {
                const submenuId = menu.getAttribute('target');
                const submenuElement = document.getElementById(submenuId);
                if (!submenuElement.classList.contains('hidden')) {
                    submenuElement.classList.add('hidden');
                }
            });
        }

        function toggleSubMenu(event) {
            event.preventDefault();
            const menuItem = event.currentTarget;
            const submenuId = menuItem.getAttribute('target');
            const submenuElement = document.getElementById(submenuId);
            
            if (sidebar_open) {
                // Show/hide submenu inside sidebar
                const isHidden = submenuElement.classList.contains('hidden');
                hideAllSubmenus(); // Hide all other submenus
                if (isHidden) submenuElement.classList.remove('hidden');
            } else {
                // Show/hide submenu in a separate box
                if (activeMenu === submenuId) {
                    hideSubmenuBox();
                } else {
                    const submenuItems = Array.from(submenuElement.children).map(item => item.outerHTML);
                    
                    submenuBoxContent.innerHTML = submenuItems.join('');
                    
                    // Position the submenu box next to the clicked menu item
                    const rect = menuItem.getBoundingClientRect();
                    submenuBox.style.top = `${rect.top}px`;
                    submenuBox.style.left = `${rect.right}px`;
                    
                    submenuBox.classList.remove('hidden');
                    activeMenu = submenuId;
                }
            }
        }

        // Attach event listeners to menus
        menus.forEach(menu => {
            menu.addEventListener('click', toggleSubMenu);
        });

    </script>

    <script>
        const themeButton = document.getElementById('id-theme-button');
        const body = document.body;

        themeButton.addEventListener('click', () => {
            if (body.classList.contains('dark')) {
                body.classList.remove('dark');
                themeButton.innerHTML = '<i class="bx bx-moon"></i>';
            } else {
                body.classList.add('dark');
                themeButton.innerHTML = '<i class="bx bx-sun text-xl text-white"></i>';
            }
        });
    </script>

</html>
