{% extends 'base.html' %}

{% load static %}

{% block title %}Add Person{% endblock title %}

{% block content %}
    <div class="w-full h-full px-4 py-4 flex flex-col bg-white dark:bg-gray-900 dark:text-white overflow-auto">

        <span>Step {{ current_step }}</span>

        <form method="post" class="flex flex-col gap-2 max-w-[640px]">

            {% csrf_token %}

            {% for error in form.non_field.errors %}
            <span class="py-2 text-sm text-red-500 dark:text-red-800">{{ error }}</span>
            {% endfor %}

            {% for field in form.hidden_fields %}
                {{ field }}
                {% for error in field.errors %}
                <span class="py-2 text-sm text-red-500 dark:text-red-800">{{ error }}</span>
                {% endfor %}
            {% endfor %}

            {% for field in form.visible_fields %}
                <div class="py-1 flex flex-col">
                    <label for="{{ field.id_for_label }}" class="block text-gray-600 dark:text-gray-400">{{ field.label }}</label>
                    {{ field }}
                    {% for error in field.errors %}
                    <span class="py-2 text-sm text-red-500 dark:text-red-800">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}

            <div class="py-2 flex gap-2 border-t">
                {% if current_step > 1 %}
                    <button id="id-prev-btn" type="button" class="px-4 py-2 bg-blue-600 hover:bg-blue-800 text-white rounded text-nowrap">Previous</button>
                    <button id="id-prev-btn-submit" type="submit" name="prev" class="hidden">Previous</button>
                {% endif %}

                <button type="submit" class="px-4 py-2 bg-blue-600 hover:bg-blue-800 text-white rounded text-nowrap">
                    {% if current_step == 3 %} Submit {% else %} Next {% endif %}
                </button>
                <a href="{% url 'person_create' %}?cancel=1" class="px-4 py-2 bg-red-600 hover:bg-red-800 text-white rounded text-nowrap">Cancel</a>
            </div>

        </form>

    </div>

    <script>
        "{% if current_step > 1 %}"
        let prev_form_buton = document.getElementById("id-prev-btn-submit")
        let prev_buton = document.getElementById('id-prev-btn')

        var inputs = document.getElementsByTagName('input');
        
        prev_buton.addEventListener("click", function(e) {
            e.preventDefault();
            for (var i = 0; i < inputs.length; i++) {
                console.log(inputs[i].removeAttribute('required'));
            }
            prev_form_buton.click();
        });
        "{% endif %}"
    </script>
{% endblock content %}
